<div class="container-fluid mt-5 about-style " id="aboutid">
        <div class="row">
            <div class="col-mid-10 col-12 mx-auto">
                <div class="row">
                    <h1 class="text-center main-heading" id="as">About us</h1>
                    <p class="text-center sub-heading">We are openly available to grow your business</p>
                    <div class="right section">
                        <figure>
                            <img src="images/left.avif" alt="A person is using laptop and watching through the window" width="300" height="300">
                        </figure>
                    </div>
                      <div class="col-mid-6 col-12 hero-text1  d-flex justify-content-center align-items-start flex-column">
                       <pre><b>
                            We Work 24/7 to provide the best of our work
                            Our team <b class="h4">WorldTech</b> is highly ptofessional to build the works.
                            and feel free to contact us to grow your business
                       </b></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>